/*--navbar--*/
div.container.text-white {
  padding-top: 200px;
}
Navbar.bg {
  background-color:  #ca4249;
 /* padding: 10px 0;
  z-index: 1000;*/
}
.navbar-fixed-top {
  background-color:  #ca4249;
  opacity: 0.9;
}
img.logo {
  width: 25px;
  margin-top: -10px;
}
span {
  padding-left: 10px;
  color: white;
  font-size: 25px;
}
.mr-auto {
  padding-right: 30px;
}
.brand {
  flex-grow: 10;
}

/*--navbar on scroll--*/
/*--Home--*/
.display-4 {
  margin-top: 30px;
}
img.src {
  height: 50px;
}
/*--works--*/
img.d-block {
  width: 287.2px;
}
.text-center {
  padding-top: 100px;
}
/*--owl carousel--*/
.item { 
  box-shadow: 0 0 5px 2px grey;
}
#card {
  box-shadow:
0 8px 8px rgba(0, 0, 0, 0.1);

}
div#skew {
  background-color: #ca4249;
  color: white;
  padding: 15px 30px;
  font-size: 15px;
  position: relative;
}
div#skew1 {
  background-color: white;
  transform-origin: bottom left;
  transform: skew(0deg, -5deg);
  padding: 30px;
}
p.skew {
  transform: skew(0deg, 5deg);
}

/*--Services--*/
ul.list {
  list-style: none;
  text-align: left;
  padding-left: 10px;
}
ul.list li {
  padding: 20px 0px;
  transition: 0.3s;
}
ul.list li:hover {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.list li img {
  padding: 0 20px;
}
/*--About Us--*/
#about {
  background-color: black;
  color: white;
}
img.round {
  border-radius: 50%;
  width: 50px;
}
.card.mb-3 {
  background-color:#141313d8;
  padding: 10px 15px;
}
.one {
  margin-bottom: -40px;
}
#one {
  margin-top: 200px;
}
#two {
  margin-top: -40px;
}
/*--white div class two--*/
.two {
  margin: 200px 0;
}
.text-center.three {
   padding-top: 150px; 
}
.four img {
  max-width:100%;
}
/*--contact us--*/
InputGroup .one {
 padding-left:300px;
 padding-right: 300px;
}
#button-addon2 {
  background-color: #ca4249;
}
/*--footer--*/
img.icon {
  height: 20px;
}
.text-center.icon {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
.text-center.icon p {
  padding-top: 30px;
}
a.a {
  display: inline;
  padding: 0px 10px;
}
/*--responsiveness--*/
@media only screen and (max-width: 992px) {
  img.logo1 {
      display: none;
  }
  InputGroup .one {
      padding-left:100px;
      padding-right: 100px;
   }
  
}
@media only screen and (max-width: 1200px) {
  Card.mb-3 {
      width: 100%;
  }
  #two {
     margin-top: 30px; 
  }
  #one {
      margin-top: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .home, Navbar {
      background-color:#ca4249;
  }
  img.logo1 {
      display: block;
  }
}
@media only screen and (max-width: 556px) {
  .home, Navbar {
      background-color:#ca4249;
  } 
}

@media (max-width:992px) and (min-width:556px) {
  .text-white, #bar {
      background-color:#ca4249;
  }
} 
/*removing the white space on the right of the page*/
html,body {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
}